<!DOCTYPE html>
<html ng-app="app">
<head>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="css/dataTables.bootstrap.min.css"/>

    <title>DataTables</title>
</head>
<body>

<!--modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- form start -->
            <form ng-controller="PatientController" class="form-horizontal" id="formPatient" action="" method="post">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="myModalLabel">Edit</h4>
                </div>
                <div class="modal-body">
                    <div class="box-body">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">PID</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="pid" name="pid" placeholder="ID Device" readonly required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">First Name</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="first_name" name="first_name" placeholder="First Name" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Last Name</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="last_name" name="last_name" placeholder="Last Name" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Gender</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="gender" name="gender" placeholder="Male/Female" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Date of birth</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="date_of_birth" name="date_of_birth" placeholder="YYYY-mm-dd" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Address</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="address" name="address" placeholder="address" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Suburb</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="suburb" name="suburb" placeholder="suburb" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">State</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="state" name="state" placeholder="state" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Postcode</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="postcode" name="postcode" placeholder="postcode" required>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <input type="hidden" name="action" id="action" value="add">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" ng-click="btnSave()" id="btnSave" class="btn btn-primary btnSave">Save changes</button>
                </div>
            </form>
        </div>
    </div>
</div>


<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">Patient</a>
        </div>
    </div>
</nav>

<div class="row" ng-controller="PatientController">
    <div class="col-md-2">
        &nbsp;
    </div>
    <div class="col-md-2">
        <button id="btnNew" ng-click="openModal()" class="btn btn-primary">New Patient</button>
    </div>
</div>

<h4 ng-controller="PatientController">{{message}}</h4>
<div>
<table ng-controller="PatientController" id="tablepatient" class="table" style="width:100%;margin:10px">
    <thead>
    <tr>
        <th>PID</th>
        <th>FirstName</th>
        <th>LastName</th>
        <th>Address</th>
        <th>DateOfBirth</th>
        <th>Gender</th>
        <th>Suburb</th>
        <th>State</th>
        <th>PostCode</th>
        <th>Action</th>
    </tr>
    </thead>
</table>
</div>
<script type="text/javascript" src="js/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="js/bootstrap.min.js"></script>
<script type="text/javascript" src="js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="js/dataTables.bootstrap.min.js"></script>

<script type="text/javascript" src="js/jquery.spring-friendly.js"></script>

<script type="text/javascript" src="js/angular.min.js"></script>
<script type="text/javascript" src="js/app.js"></script>

<script>
        $("#date_of_birth").datepicker();
        function editPatient(pid){
            $("#action").val('edit');
            $.ajax({
                    url : '/patient/'+pid,
                    type : 'GET',
                    dataType:'json',
                    success : function(data) {
                        $('#myModal').modal('show');
                        console.log(data);
                        $("#pid").val(data.pid);
                        $("#first_name").val(data.firstName);
                        $("#last_name").val(data.lastName);
                        $("#address").val(data.address);
                        $("#date_of_birth").val(data.dateOfBirth);
                        $("#gender").val(data.gender);
                        $("#suburb").val(data.suburb);
                        $("#state").val(data.state);
                        $("#postcode").val(data.postCode);
                    },
                    error : function(request,error)
                    {
                        console.log(data);
                    }
                });
        }

        function deletePatient(pid){
             if (confirm('Do you want to edit pid '+pid+' ?')) {
                $.ajax({
                    url : '/patient/'+pid,
                    type : 'DELETE',
                    dataType:'json',
                    success : function(data) {
                        $('#tablepatient').DataTable().ajax.reload();
                    },
                    error : function(request,error)
                    {
                        $('#tablepatient').DataTable().ajax.reload();
                    }
                });
             }
        }


        $('table#tablepatient').DataTable({
            ajax: '/ssp/api',
            serverSide: true,
            columns: [
                {
                    data: 'pid'
                },
                {
                    data: 'firstName'
                },
                {
                    data: 'lastName'
                },
                {
                    data: 'address'
                },
                {
                    data: 'dateOfBirth'
                },
                {
                    data: 'gender'
                },
                {
                    data: 'suburb'
                },
                {
                    data: 'state'
                },
                {
                    data: 'postCode'
                },
                {
                    data : 'pid', render: function ( data, type, row )
                    {
                        var btnEdit = '<a href="#" onclick="return editPatient('+row.pid+');" class="btn btn-success">Edit</a>';
                        var btnDelete = '<a href="#" onclick="return deletePatient('+row.pid+');" class="btn btn-danger">Delete</a>';
                        return btnEdit+' '+btnDelete;
                    }
                }
            ]
        });
    </script>

</body>
</html>